<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.exam.mapper.AttendanceMapper">

	<insert id="goInsert" parameterType="AttendanceDTO">
		insert into attendance(emp_id, date, gowork)
		values (#{emp_id}, #{date}, #{gowork})
	</insert>

	<update id="outUpdate" parameterType="AttendanceDTO">
		update attendance
		set outwork=#{outwork}
		where emp_id=#{emp_id} AND date=#{date};
	</update>

	<select id="allAtt" parameterType="String"
		resultType="AttendanceDTO">
		select *
		from attendance
		where emp_id=#{emp_id}
	</select>
   
</mapper>
