<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.exam.mapper.EmpMapper">
	
	<!-- 로그인 -->
	<select id="login" parameterType="hashmap" resultType="EmpDTO">
		select *
		from emp
		where emp_id=#{emp_id} and emp_pw=#{emp_pw}
	</select>
	
	<!-- id 중복체크 -->
	<select id="idCheck" parameterType="string" resultType="EmpDTO">
		select *
		from emp
		where emp_id=#{emp_id}
	</select>
	
	<!-- 회원가입 -->
	<insert id="empAdd" parameterType="EmpDTO">
		insert into emp(emp_id, emp_pw, name, birth, phone, account1, account2)
		values (#{emp_id}, #{emp_pw}, #{name}, #{birth}, #{phone}, #{account1}, #{account2})
	</insert>
	
	<!-- mypage -->
   <select id="mypage" parameterType="string" resultType="EmpDTO">
      select *
      from emp
      where emp_id=#{emp_id}
   </select>
   
       <!-- 직원정보수정 -->
   <update id="update" parameterType="EmpDTO">
      update emp
      set emp_id=#{emp_id}, emp_pw=#{emp_pw}, birth=#{birth}, phone=#{phone}, account1=#{account1}, account2=#{account2} 
      where emp_id=#{emp_id}
   </update>	
</mapper>

